
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <!-- Slider -->
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
              <span>HI, Welcome to Imagick</span><br>
              <span class="cd-words-wrapper">
                        <b class="is-visible">Manage Photos</b>
                        <b>Edit Photos</b>
                        <!--<b>FATHER</b>-->
                    </span>
            </h1>
          </section> <!-- cd-intro -->
          <!-- /.slider -->
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
            Use amazing features provided to you to edit, manage and play around with your photos<br> Lorem Ipsum Lorem Ipsum Lorem Ipsum
          </h2>
          <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works">View Works</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#main-slider-->
<!--
==================================================
About Section Start
================================================== -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
          <h2>
            ABOUT ME
          </h2>
          <!--<p>-->
            <!--Hello, I’m a UI/UX Designer & Front End Developer from Victoria, Australia. I hold a master degree of Web Design from the World University.And scrambled it to make a type specimen book. It has survived not only five centuries-->
          <!--</p>-->
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci voluptatum repudiandae, natus impedit repellat aut officia illum at assumenda iusto reiciendis placeat. Temporibus, vero.
          </p>
        </div>

      </div>
      <div class="col-md-6 col-sm-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
          <%= image_tag 'about/about.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section> <!-- /#about -->
