<div class="modal fade" id="new_album">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Enter a title for the new title</div>
      <div class="modal-body">
        <input type="text" default="untitled">
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">cancel</a>
      </div>
    </div>
  </div>
</div>